<%- include('./../partials/header.ejs') %>
	<%- include('./../partials/navbar.ejs') %>

	<div class="create-blog content">
		<h2>Create new blog</h2>
		<form action="/blogs" method="POST">
			<label for="title">Title</label>
			<input type="text" id="title" name="title" required>

			<label for="snippet">Snippet</label>
			<input type="text" id="snippet" name="snippet" required>

			<label for="body">Body</label>
			<textarea id="body" name="body" required></textarea>

			<button type="submit">Submit</button>
		</form>
	</div>

<%- include('./../partials/footer.ejs') %>