<%- include('./../partials/header.ejs') %>
	<%- include('./../partials/navbar.ejs') %>

	<div class="details content">
		<h2><%= blog.title %></h2>
		<div class="content">
			<p><%= blog.body %></p>
		</div>
		<a class="delete" data-doc="<%= blog._id %>">delete</a>
	</div>

	<script>
		const trash = document.querySelector('a.delete')

		trash.addEventListener('click', (e) => {
			const endpoint = `/blogs/${e.target.dataset.doc}`

			fetch(endpoint, {
				method: 'DELETE'
			}).then(response => response.json())
			.then(data => window.location.href = data.redirect)
			.catch(err => console.log(err))
		})
	</script>

<%- include('./../partials/footer.ejs') %>