<%- include('./../partials/header.ejs') %>
	<%- include('./../partials/navbar.ejs') %>

	<div class="blogs content">
		<h2>All Blogs</h2>

		<% if (blogs.length > 0) { %>
			<% blogs.forEach(blog => { %>
				<a href="/blogs/<%= blog._id %>">
					<h3 class="title"><%= blog.title %></h3>
					<p class="snippet"><%= blog.snippet %></p>
				</a>
				<hr>
			<% }) %>
		<% } else { %>
			<h3 class="title">Blogs is empty!</h3>
		<% } %>
	</div>

<%- include('./../partials/footer.ejs') %>