<%- include('./partials/header.ejs') %>
	<%- include('./partials/navbar.ejs') %>

	<div class="about content">
		<h2>About Us</h2>
		<p>Lorem ipsum dolor sit, amet consectetur, adipisicing elit. Explicabo, suscipit hic laudantium ad eaque vel sunt. Exercitationem dicta labore rem accusantium neque obcaecati facilis odit reprehenderit! Ipsa possimus sapiente placeat! Lorem ipsum dolor sit amet consectetur adipisicing, elit. Sapiente consequuntur facere voluptas, eaque quaerat ipsam, eum? Corrupti unde, sunt exercitationem nostrum, ratione sint pariatur magnam. Laboriosam cumque nostrum tempore facere.</p>
	</div>

<%- include('./partials/footer.ejs') %>